body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
}

header {
  background-color: black;
  padding: 0 14px;
  position: fixed;
  width: 100%;
}

#initials {
  border-right: 1px solid white;
  color: white;
  display: inline-block;
  font: normal bold 20px normal;
  font-family: serif;
  padding: 0 30px 0 15px;
}

#header-links {
  display: inline-block;
  padding: 14px;
}

#header-links a {
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 4px;
  padding: 10px;
  text-decoration: none;
}

#header-links a:hover {
  background-color: #352e2e;
}

#whoami {
  background-color: #e9e8e8;
  padding: 130px 8px 80px 8px;
  text-align: center;
}

#my-image{
  display: inline-block;
}

#my-image img {
  width: 300px;
}

#whoami-text {
  display: inline-block;
  padding: 20px;
  text-indent: 24px;
  vertical-align: bottom;
  width: 50%;
}

#whoami-text p {
  font-size: 18px;
  text-align: justify;
}

#skills {
  text-align: center;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills h2 {
  font-size: 30px;
}

#soft {
  width: 49%;
  display: inline-block;
}

#hard {
  width: 49%;
  display: inline-block;
}